@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.sub-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

.content {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero .title {
    /* font-family: 'Caveat', cursive; */
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    color: #222;
    font-weight: bold;
    transition: 0.5s ease;
    animation: fadeIn 5s;
}

.hero .hero-img {
    object-fit: cover;
    width: 40%;
    height: auto;
    margin-top: 4rem;
    animation: fadeIn 5s;
    /* rotate: 2deg; */
}

/* Your existing styles here */
 

span{
    color: #051BB0;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.about .col-6.images {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.about .col-6 img{
    height: 17rem;
    width: auto;
    object-fit: cover;
}

.about .content{
    margin-top: 5rem;
    padding: 0 3rem 0 0;
}


.quote-section {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Apply animations */

.quote-section .quote span{
    color: #051BB0;
    font-weight: 600;
}

.quote-section .quote{
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    width: 60vw;
    font-weight: 800;
}

.quote-section .quote.right{
    float: right;
    text-align: right;
}


.quote-section {
    display: flex;
    justify-content: center;
}

.quote.col-6 {
    margin-top: 0;
}

.quote-section img{
    height: 15rem;
    width: auto;
    object-fit: cover;
}

.story-section .col-4 img{
    height: auto;
    width: 90%;
    object-fit: cover;
}

.story-section .story-line {
    width: 65vw;
    margin: 0 auto;
    margin-top: 4rem;
}

.story-section .story-line .row {
    margin-bottom: 2.5rem ;    
}

.story-section .story-line .row .col-1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.story-section .story-line .row .col-7 .story-title{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.venturescape-section {
    height: 95vh;
    padding-top: 5rem;
}

.venturescape-title {
    margin-top: 1.3rem;
    font-weight: 400;
    font-size: 2rem;
}

.venturescape-section .sub-title {
    margin-bottom: 3rem;
}

.venturescape-section .ventures{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
}

.venturescape-section .ventures img{
    width: 23rem;
    height: 17rem;
    object-fit: cover;
    background-color: #222;
    border-radius: 10px;
    transition: transform 300ms ease-in-out;
    
}

.venturescape-section .ventures img:hover{
    transform: scale(1.2);
    
}

.read-section {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    column-gap: 2rem;
    justify-content: center;
}

.read-section .sub-title {
    margin: 1.5rem 0;
}

.read-section .book-review {
    justify-content: space-between;
}

.read-section .book-review > div {
    width: 33.33%;
}

.read-section .book-review .book-title {
    font-family: 'Courgette', cursive;
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.read-section .book-review .book-review {
    text-transform: uppercase;
    width: 90%;
}

.read-section .book-review img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.awards-section {
    margin-top: 10rem;
}

.awards-section .row .col-6 .sub-title{
    line-height: 5rem;
}

.awards-section .row .col-6 .sub-title span{
    color: #051BB0;
}

.awards-section .row .col-6 img {
    height: 25rem;
    width: auto;
    object-fit: cover;
    margin-top: 3rem;
}

.awards-section .row .col-6 .achievements .content {
    background-color: #222;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
    margin-top: 8rem;
}

.awards-section .row .col-6 .achievements .content .list{
    display: flex;
    align-items: start;
    justify-self: center;
    flex-direction: column;
    color: #f9f9f9;
}

.awards-section .row .col-6 .achievements .content .list div {
    display: block;
    font-weight: 700;
    margin-top: 0.5rem;
}

.contact-me {
    margin-top: 10rem;
    margin-bottom: 6rem;
}

.contact-me .row{
    background-color: #222;
    border-radius: 10px;
    margin-top: 3rem;
}

.contact-me .row .col-4 {
    margin: 0 !important;
    padding: 0 !important;
}

.contact-me .row .col-4 img{
    height: 35rem;
    width: -webkit-fill-available;
    object-fit: cover;
    border-radius: 10px;

}

.contact-me .row .col-8 form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.contact-me .row .col-8 form label {
    color: #f9f9f9;
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.contact-me .row .col-8 form input {
    height: 3rem;
    border-radius: 10px;
    width: 80%;
}

textarea {   
    border-radius: 10px;
    width: 80%;
}

.contact-me .row .col-8 form input[type="submit"] {
    margin-top: 2rem;
}

.contact-me .row .col-8 form input[type="submit"]:hover{
    border: 1px solid  #f9f9f9;
    color: #f9f9f9;
    background-color: #222;
}

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 7rem;
}

.footer-section .footer-quote{
    font-size: 3rem;
    width: fit-content;
}

.footer-section .footer-quote span{
    color: #051BB0;
}

.footer-section .author{
    font: 1.5rem;
    font-weight: 500;
}