.animation {
    opacity: 0;
    transform: translateX(-30px);
    visibility: hidden;
    animation: moveup 2s linear forwards;
    animation-fill-mode: forwards;
}


@keyframes moveup {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

body {
    background-color: #faf9f6;
}

.name {
    font-weight: 600;
}

/* Navbar styles */

.hero .navbar .navbar-brand img {
    height: 4rem;
    width: auto;
    margin-left: 3rem;
}

.hero #navbarNavAltMarkup {
    justify-content: flex-end;
}

.hero .navbar-nav {
    gap: 2.5rem;
    margin-right: 3rem;
}

.hero .navbar-nav .nav-link {
    color: #faf9f6;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.hero .navbar-nav .nav-link:hover {
    color: #222;
}

.hero .arrow {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #f9f9f9;
}

.new {
    position: relative;
    bottom: 1rem;
}

.sub-title {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    visibility: hidden;
}

.content {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
}

.hero {
    height: 100vh;
    background-image: url("./images/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 !important;
    margin: 0 !important;
}

 .hero .title {
    font-family: 'Tangerine', cursive;
    font-size: 7rem;
    color: #faf9f6;
    font-weight: bold;
    position: absolute;
    right: 5rem;
    top: 10rem;
}

/* Your existing styles here */
 

span{
    color: #051BB0;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about .sub-title {
    margin-top: 5rem;
}

.images {
    visibility: hidden;
    animation-delay: 0.3s;
}

.about .col-6.images {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.about .col-6 img{
    height: 17rem;
    width: auto;
    object-fit: cover;
}

.about .content{
    margin-top: 2rem;
    padding: 0 3rem 0 0;
    text-align: justify;
    font-weight: 300;
    animation-delay: 0.2s;
}

.quote-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.box {
    height: fit-content;
    width: auto;
    padding: 2rem;
}


.quote-section .quote{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    width: 45vw;
    visibility: hidden;
    line-height: 0.6;
    font-weight: 500;
}

.quote-section .quote.right{
    float: right;
    text-align: left;
    height: 100%;
}

.quote-section .quote.right .content {
    font-weight: 300;
    margin-top: 1rem;
    font-style: italic;
    text-align: justify;
}

/* .quote-section .quote.right .content span {
    font-size: 5rem;
    font-style: regular;
    font-family: 'Poppins', sans-serif;
    display: block;
    line-height: 0.5;
    color: #333;
} */

.quote-section .quote span{
    color: #051BB0;
    font-weight: 600;
    font-size: 8rem;
    line-height: 1;
    font-family: 'Tangerine', cursive;
}

.quote-section div {
    height: 100%;
}

.quote-section {
    display: flex;
    flex-direction: row;
    height: 35rem;

}

.quote.col-6 {
    margin-top: 0;
}

.quote-section img{
    height: 80%;
    width: auto;
    object-fit: cover;
    margin-right: 1rem;
}

.story-section .col-4 img{
    height: auto;
    width: 90%;
    object-fit: cover;
}

.story-section .story-line {
    width: 65vw;
    margin: 0 auto;
    margin-top: 4rem;
}

.story-section .story-line .row {
    margin-bottom: 2.5rem ;    
}

.story-section .story-line .row .col-1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.story-section .story-line .row .col-7 .story-title{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.venturescape-section {
    height: 75vh;
    padding-top: 4rem;
}

.venturescape-title {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.venturescape-section .sub-title {
    margin-bottom: 3rem;
}

.venturescape-section .ventures{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
}

.venturescape-section .ventures img{
    width: 23rem;
    height: 17rem;
    object-fit: cover;
    background-color: #222;
    transition: transform 300ms ease-in-out;
    
}

.venturescape-section .ventures img:hover{
    transform: scale(1.3);
    
}

.read-section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    column-gap: 2rem;
    justify-content: center;
}

.read-section .sub-title {
    margin: 1.5rem 0;
}

.read-section .book-review {
    justify-content: space-between;
}

.read-section .book-review > div {
    width: 33.33%;
}

.read-section .book-review .book-title {
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    margin: 0.5rem 0;
}

.read-section .book-review .book-review {
    text-transform: uppercase;
    width: 90%;
}

.read-section .book-review img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.awards-section {
    margin-top: 4rem;
}

.awards-section .row .col-6 .sub-title{
    line-height: 5rem;
}

.awards-section .row .col-6 .sub-title span{
    color: #051BB0;
}

.awards-section .row .col-6 img {
    height: 28rem;
    width: auto;
    object-fit: cover;
    margin-top: 3rem;
}

.awards-section .row .col-6 .achievements .content {
    padding: 4rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4rem;
    align-items: center;
    gap: 1rem;
}

.awards-section .row .col-6 .achievements .content .card {
    width: 17rem;
    height: 13.5rem;
    padding: 1rem;
    text-align: center;
    background-color: #faf9f6;
}

.awards-section .row .col-6 .achievements .content .card .card-title {
    color: #051BB0;
    font-size: 2.2rem;
    margin: 1.2rem 0;
    text-align: center;
    font-weight: 1000;
}

.achievements .content span {
    color: #051BB0;
    font-size: 2.3rem;
    display: inline;
}

.awards-section .row .col-6 .achievements .content .list{
    align-items: start;
    justify-self: center;
    flex-direction: column;
    color: #333;
    font-weight: 800;
}

.awards-section .row .col-6 .achievements .content .list div {
    display: block;
    font-weight: 700;
    margin-top: 0.5rem;
}

.contact-me {
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.contact-me .row .col-4 {
    margin: 0 !important;
    padding: 0 !important;
}

.contact-me .row img{
    height: 35rem;
    width: auto;
    object-fit: cover;
}

.contact-me .contact-img {
    display: flex;
    justify-content: center;
}

.contact-me .row form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    row-gap: 1rem;
}

.contact-me .row form label {
    color: #222;
    font-size: 1.5rem;
    display: none;
}

.contact-me .row form input {
    height: 2.7rem;
    width: 80%;
    border: 2px solid #222;
    padding: 1rem;
    width: 30rem;
    background-color: #faf9f6;;
}

textarea {  
    width: 80%;
    border: 2px solid #222;
    padding: 1rem;
    width: 30rem;
    background-color: #faf9f6;;
}

.contact-me .row form input[type="submit"] {
    margin-top: 2rem;
    background-color: #faf9f6;;
    padding: 0;
    font-weight: 700;
}

.contact-me .row form input[type="submit"]:hover{
    border: 1px solid  #faf9f6;;
    color: #faf9f6;;
    background-color: #222;
    font-weight: 800;
}

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 7rem;
}

.footer-section .footer-quote{
    font-size: 5rem;
    font-family: 'Tangerine', cursive;
    width: fit-content;
    animation-delay: 0.2s;

}

.footer-section .footer-quote span{
    color: #051BB0;
}
